*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;

}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 160px;
    height: 80px;
    margin-right: 20px;
    transform: translate(-20px,10px);
}
.main{
    max-width: 1200px;
    margin: auto;
}
ul li.active a{
    background-color: white;
    color: black;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: white;
    color: black;
}